useDynLib( stockR, .registration = TRUE)
export( "calcFst",
"sim.stock.data",
"stockSTRUCTURE",
"stockBOOT",
"plot.stockBOOT.object")
importFrom(Rcpp, sourceCpp)
import( stats)
import( gtools)
import( parallel)
import( RColorBrewer)
importFrom("methods","is")
importFrom("grDevices","adjustcolor","grey")
importFrom("graphics","barplot","mtext","par","rect","text","plot")
S3method(plot, stockBOOT.object)

